div {
    display: inline-block;
	height: 40px;
    width: 40px;
	margin: 0;
	border: 0;
	padding: 0;
    background-color: black;
}

th {
	margin: 0;
	border: 0;
	padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}